node_modules
.env

# Prisma
**/generated/**
**/.prisma/client/**
prisma/debug*.json
prisma/migrations/dev/**

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store

# Ne pas exclure ces fichiers
!Database/Dump/sync_db_backup.dump
!Database/Dump/restore_sync_db.sh