/* Styles de base */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: #000;
  --color-text: #fff;
}

/* Styles spécifiques à l'application */
.rounded {
  border-radius: 8px;
}

.p-4 {
  padding: 16px;
}

